.header{
    position: sticky;
    top: 0;
    z-index: 999;
    background-color: $white;
    width: 100%;
    transition: all 450ms ease-in-out;
    box-shadow: 0 0 2px rgba(50,50,50,0.4);
    &-logo-block{
        text-align: center;
        @mixin largeScreen{
            text-align: left;
        }
    }
    &-logo{
        max-width:180px;
        height: auto;
        
    }
}

.menu-list{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    
}

.menu-item-link{
    display: inline-block;
    padding: 10px 15px;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 400;
    color: $grey;
    &:hover{
        color: $mainBlue;
    }
    &.active{
        color: $steelBlue;
    }
}

.menu-content{
    display: none;
    @mixin largeScreen{
        display: block;
    }
}

.mobile-header-icon{
    position: absolute;
    width: 20px;
    height: 19px;
    top: 25px;
    right: 30px;
    @mixin largeScreen{
        display: none;
    }
    &::before{
        content:"";
        position: absolute;
        top:0;
        left: 0;
        width:20px;
        height: 3px;
        background-color: $mainBlue;
        transform-origin: 0 0;
        transition: tansform .3s ease-out;
    }
    &-bar{
        content:"";
        position: absolute;
        top: 10px;
        left: 0;
        width:20px;
        height: 3px;
        background-color: $mainBlue;
        transform-origin: 0 50%;
        transition: tansform .3s ease-out;
    }
    &::after{
        content:"";
        position: absolute;
        top: 20px;
        left: 0;
        width:20px;
        height: 3px;
        background-color: $mainBlue;
        transform-origin: 0 100%;
        transition: tansform .3s ease-out;
    }
    &-close{
        &::before{
            transform: rotate(45deg) scaleX(1.5);
        }
        .mobile-header-icon-bar{
            transform: scaleX(0);
            opacity: 0;
        }
        &::after{
            transform: rotate(-45deg) scaleX(1.5) translateY(1px);
        }
    }
}


.mobile-menu{
    opacity: 0;
    display: none;
    &-active{
        opacity: 1;
        display:block;
    }
    &-list{
        list-style: none;
        &-item{
            border-top: solid 1px $lightGrey;
        }
    }   
    @mixin largeScreen{
        display:none;
    }
}